a
{
  color: #350a93;
}
p
{
   margin-bottom:1em;
}
#home {
  margin: 0 auto;
  max-width: 60em;
  line-height: 1.5;
  padding: 4em 1em;
  color: #555
}

#top-header
{
  background: #222b3a;
  color: #ffffff;
  padding: 10px 20px 10px 20px;
  margin-bottom:2em;
  font-size:1.4em;
  font-family: 'Roboto Slab', serif;
  font-weight:Bold;
}

#menu
{
  padding-bottom:2em;
}
.btn {
  font-family: 'Roboto Slab';
  color: #ffffff;
  font-size: 19px;
  font-weight:Bold;
  background:#2d929b;
  padding: 8px 16px 8px 16px;
  margin-right:1em;
  text-decoration: none;
  display:inline-table;
}
.btn-active
{
  font-family: 'Roboto Slab';
  color: #ffffff;
  font-size: 19px;
  font-weight:Bold;
  background: #222b3a;
  padding:8px 16px 8px 16px;
  margin-right:1em;
  text-decoration: none;
  display:inline-block;
  
}
.btn-active:hover {
  background: #49c1cc;
  text-decoration:none;
}
.btn:hover {
  background: #71f0fc;
  text-decoration:none;
}
#picture
{
float:right;
margin-left:1.7em;
}
#text-verge
{
  font-family: 'Lato', sans-serif;
  font-size:1.2em;
  margin-bottom:8em;
}
#text
{
  font-family: 'Lato', sans-serif;
  font-size:1.2em;
}
#heaor
{
  font-family: 'Roboto Slab', serif;
  font-size:1.6em;
}

#foot
{
  margin-top:31em;
}
